project/*.joblib
project/*.csv
project/*.txt
project/*/*__pycache__*
project/*/*/*__pycache__*
project/*/*/*/*.pyc
project/validation/*



project-2/*.joblib
project-2/*.csv
project-2/*.txt
project-2/*/*__pycache__*
project-2/*/*/*__pycache__*
project-2/*/*/*/*.pyc
project-2/validation/*

*__pycache__*